USE [master]
GO
/****** Object:  Database [TeamTEAMMemeSquad]    Script Date: 11/28/2017 6:05:44 PM ******/
CREATE DATABASE [TeamTEAMMemeSquad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeamTEAMMemeSquad', FILENAME = N'\\tsclient\C\Program Files\Microsoft SQL Server\MSSQL13.MITCHSQL\MSSQL\DATA\TeamTEAMMemeSquad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeamTEAMMemeSquad_log', FILENAME = N'\\tsclient\C\Program Files\Microsoft SQL Server\MSSQL13.MITCHSQL\MSSQL\DATA\TeamTEAMMemeSquad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeamTEAMMemeSquad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeamTEAMMemeSquad]
GO
USE [TeamTEAMMemeSquad]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 11/28/2017 6:05:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [varchar](50) NULL,
	[Caption] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Path] [varchar](200) NULL,
	[Type] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
